.date {
  font-family: "Segoe UI"
}

.start {
  margin-bottom: 15px;
}

.due-time {
  background-color: #e74545;
  width: 150px;
  padding: 4px;
  color: white;
  border-radius: 5px;
}

.due {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.due-name {
  margin-right: 5px;
}

.picker {
  width: 250px;
  height: 55px;
  border-radius: 5px;

}

.timeAtWork {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}