@import "src/App";

.wrapper {
  width: 100vw;
  height: calc(100vh - 90px);
  padding: 10px;

}

.status-container {
  width: 90%;
  height: 400px;
  //border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}
