.modal-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 0;
}


.modal {
  height: 650px;
  width: 650px;
  background-color: #f5f4f4;
  padding: 10px;
  position: fixed;
}


.modal-content {
  width: 100%;
  height: 400px;
  outline: solid;
  display: flex;
  flex-direction: row;
}

.task-content {
  width: 70%;
  height: 400px;
  min-width: 400px;
  outline: solid;
}

.task-buttons {
  width: 20%;
  height: 400px;
  min-width: 200px;
  outline: solid;
}

.input {
  overflow-wrap: break-word;
  resize: vertical;
  overflow: auto;
}

.input::-webkit-scrollbar {
  display: none;
}

.description {
  max-width: 90%;
  height: auto;
  word-break: break-all;
}