label{
  display: inline-block;
  background-color: gainsboro;
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}