@import 'src/App';

.change,{
  width: 70px;
  height: 40px;
  background-color: gainsboro;
  padding: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: gainsboro;
  }
}

.delete-file {
  width: 60px;
  //background-color: #919090;
  height: 30px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;


  &:hover {
    color: #919090;
  }
}

.delete-subtask {
  background-color: transparent;
  border: 0;
  margin-right: 10px;

  &:hover {
    background-color: #e7e3e3;
  }
}

.add {
  width: 60px;
  height: 30px;
  background-color: gainsboro;
  padding: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;

  &:hover {
    background-color: gainsboro;
  }
}

.link-to-home {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: gainsboro;
  }
}

button {
  font-size: 15px;
}

.upload-file {
  //display: inline-block;
  margin-top: 10px;
  background-color: $primaryColor;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0;
}