.task {
  background-color: white;
  //padding: 10px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 2px;
  flex-direction: row;

  &:hover {
    background-color: #f5f4f4;
  }
}

.priority-div {
  width: 10px;
  height: 100%;
  background-color: #5583e7;
}

.task-name {
  margin-left: 10px;
}