.comment {
  width: 95%;
  height: 30%;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-end;
}

.comment-content {
  width: 100%;
  //outline: solid;
  background-color: #fff;
  border: 2px solid gainsboro;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.replies {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.replies-list {
  //outline: solid;
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-text {
  max-width: 80%;
  word-break: break-all;
}

.reply-input {
  max-width: 450px;
}

.comment-buttons {
  width: 20%;
  //border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}